.card {
  box-sizing: border-box;
  border: 5px solid black;
  position: relative;
  width: 50%;
  background: #7f7f7f;
}
.card img {
  width: 100%;
}

.card .transparent {
  background-color: rgba(10, 0, 0, 0.5);
  margin-top: -60px;
  position: absolute;
  width: 100%;
  height: 60px;
  color: #ccc;
}

.transparent p {
  margin: 0;
  padding: 2px;
}

.character-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: grey;
}

.character-info li {
  padding: 16px 8px 16px 8px;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #6e6a6a;
  color: antiquewhite;
}

.character-info li:last-child {
  border-bottom: 0;
}
.character-info li span {
  color: #ff9a00;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: end;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    border: 5px solid black;
    position: relative;
    width: 25%;
    background: #7f7f7f;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    border: 5px solid black;
    position: relative;
    width: 25%;
    background: #7f7f7f;
  }
}
