.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-filters .item .fa-times {
  cursor: pointer;
}

.selected-filters {
  text-align: left;
}

.selected-filters {
  font-weight: bold;
}

.selected-filters .item {
  background-color: #827f7f;
  color: #fff;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  text-align: center;
  height: 48px;
  background-color: #003349;
}

.sidebar-section .fa-plus-circle {
  cursor: pointer;
}

.fa-plus-circle:before {
  font-size: 24px;
}
