.side-filter-box {
  border: 1px solid #000000;
  margin: 20px;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

.selected-filters .item .fa-times {
  cursor: pointer;
}

.side-filter-box .form-check {
  display: inline-flex;
  width: 100%;
}

.side-filter-box .form-check input.form-check-input {
  margin-top: 13px;
}

.selected-filters {
  text-align: left;
}

.selected-filters {
  font-weight: bold;
}

.selected-filters .item {
  background-color: #827f7f;
  color: #fff;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  text-align: center;
  height: 48px;
}

.filter-header {
  display: flex;
  padding-left: 2rem;
}
